*{
    margin: 0px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    margin: 20px;
    text-align: center;
}


h1{
    text-align: center;
}


.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-weight: bold;
    
}  

.navbar li {
    float: left;
}

.navbar a:hover{
    color: bisque;
}

.schemeimg{
    display: grid;
    width: 80%;
    margin: 100px auto 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
 
    
}

.schemeimg img{
   width: 100%;
   cursor: pointer;
 
    
}




